*#
.#*
/*.yaml
/*.yml
*.exe

/dnxware
/promtool
benchmark.txt
/data
/cmd/dnxware/data
/cmd/dnxware/debug

!/.travis.yml
!/.promu.yml
!/.golangci.yml
/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
/documentation/examples/remote_storage/example_write_adapter/example_writer_adapter
